services:
  mongo:
    image: mongo
    command: mongod --port 27017
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - ../mongodb/db:/data/db

  server:
    build:
      context: .
      dockerfile: ./server/Dockerfile
    image: server
    depends_on:
      - mongo
    restart: unless-stopped
    ports:
      - "8000:8000"
    links:
      - mongo
    volumes:
      - ./logs:/app/logs
    logging:
      driver: json-file
      options:
        max-size: "20m"
        max-file: "10"
    environment:
      - TZ=Asia/Shanghai
      - LOG_DIR=/app/logs

  web:
    build:
      context: .
      dockerfile: ./web/Dockerfile
    image: web
    depends_on:
      - server
    restart: always
    ports:
      - "80:80"
      - "443:443"
    links:
      - server
    command: ["nginx", "-g", "daemon off;"]
